DEBUG=true/false
SECRET_KEY='very secret key'
TGBOT_TOKEN='very secret token'
REDIS_FSM_URL='redis://:password@host:port/db'
ALLOWED_HOSTS=domain.ru,other.domain.ru
CSRF_TRUSTED_ORIGINS=https://domain.ru,https://other.domain.ru