DEBUG=false
SECRET_KEY=""

VK_API_VERSION=5.120
VK_USER_TK=""
VK_GROUP_TK=""
VK_GROUP_ID=208045451
VK_CALLBACK_SECRET_KEY=""
VK_CALLBACK_CONFIRMATION_CODE=""
VK_APP_ID=6121396
VK_GROUP_OWNER_ID=39398636

CURRENT_HALF=1
ALLOWED_HOSTS=example.org
CSRF_TRUSTED_ORIGINS=https://example.org
YADISK_TOKEN=""
CHANGE_REPORT_DAYS=365

DB_NAME=sup
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=pg
DB_PORT=5432